.card-head {
    border: 1px solid #45AC75;
    max-width: 1140px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    background: #222B3E;
    padding: 25px;
}

.description {
    max-width: 900px;
    margin: auto;
}

.description .tok-desc {
    font-size: 20px;
    margin: 20px;
}

.card-head .card-flex1 {
    display: flex;
    justify-content: start;
}

.card-flex1 img {
    max-width: 50px; 
}

.card-flex1 h3 {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.card-flex2 {
    display: flex;
    justify-content: space-between;
}

.card-flex2 #star {
    padding-top: -50px;
}

.card-flex2 .tok-name {
    padding-top: 15px;
}

.card-flex3 {
    display: flex;
    justify-content: space-around;
}

.card-flex3 .algo {
    display: flex;
    justify-content: space-evenly;
}

.card-flex3 .usd {
    display: flex;
    justify-content: space-between;
}

.card-flex3 .dir {
    display: flex;
    justify-content: space-between;
}

.usd p {
    margin: 0 20px;
}

.algo p {
    margin: 0 20px;
}

.dir #up {
    margin: 0 20px;
}

.card-flex2 .vote {
    display: flex;
    margin: 15px;
}

.card-flex2 .votes {
    display: flex;
    margin: 15px;
}

.vote h3 {
    display: flex;
    margin-left: 15px;
    background: #45AC75;
    padding: 15px;
}
.votes h3 {
    display: flex;
    background: #45AC75;
    padding: 15px;
}

.vote {
    border-radius: 5px;
    border: 3px solid #45AC75; 
}

.votes {
    border-radius: 5px;
    border: 3px solid #45AC75; 
}

#vote {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
}

.votes p {
    align-items: center;
    justify-content: center;
    margin: 15px;
   
}

@media screen and (max-width: 768px) {
   
   .card-head {
    border: 1px solid #45AC75;
    max-width: 95%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    background: #222B3E;
    padding: 25px;
    }
   
    .card-flex3 {
    display: grid;
    grid-template-rows: repeat(1fr);
    }

    .card-flex3 .algo {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    margin: 15px;
}

    .card-flex3 .usd {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    }

    .card-flex3 .dir {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    }

    .usd p {
    margin: 0 20px;
    }

    .algo p {
    margin: 0 20px;
    }

    .dir #up {
    margin: 0 20px;
    }
}

.card-4 {
  background-color: #222b3e;
  flex-direction: row;
  display: flex;
  margin-left: 0px;
  border: 2px solid #45ac75;
  border-radius: 11px;
  align-items: center;
  padding: 15px 25px;
 
  min-height: 120px;
  min-width: 650px;
  max-width: 650px;
  margin: auto;
  justify-content: space-between;
  column-gap: 64px;
}
.div-5 {
  column-gap: 13px;
  flex-direction: row;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  flex-basis: 166px;
  margin: 0px;
}
.img-2 {
  flex-basis: 59px;
  height: 60px;
  width: 59px;
}
.div-6 {
  height: 100%;
  margin-left: 0px;
  font-size: 19px;
  font-weight: 500;
  margin-right: 0px;
  flex-direction: column;
  align-items: start;
  display: flex;
  margin-bottom: 0px;
  flex-basis: 94px;
  line-height: 22px;
  justify-content: flex-start;
  color: #e5e5e5;
  margin-top: 0px;
}
.span-3 {
  flex-basis: 29px;
}
.img-3 {
  flex-basis: 20px;
  border: 2px solid #dd821f;
  width: 20px;
  background-color: #dd821f;
}


.span-2 {
	 flex-basis:30px;
    margin: auto;
    margin-top: 20px;
	 text-align: center;
	 line-height: 25px;
	 font-size: 28px;
	 font-weight: 600;
	 letter-spacing: 2px;
}

.div-2 {
	 height: 100%;
	 flex-direction: column;
	 row-gap: 13px;
	 align-items: center;
	 width: 100%;
	 color: #45ac75;
	 display: flex;
	 padding-bottom: 64px;
	 background-color: #111621;
	 justify-content: center;
}

.center {
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-left: 350px;
}

.div-10 {
    background-color: #222b3e;
    flex-direction: row;
    display: flex;
    border: 1px solid #3a404d;
    border-radius: 28px;
    align-items: center;
    padding: 15px;
    max-width: 600px;
    min-height: 49px;
    justify-content: space-between;
    column-gap: 64px;
    margin: auto;
}

.Token-cont {
    min-height: 700px;
}

.span-9 {
	 line-height: 25px;
	 font-size: 24px;
	 color: rgba(242, 242, 242, 0.46);
	 flex-basis: 300px;
}
.img-2 {
	 flex-basis: 20px;
	 width: 20px;
	 height: 20px;
}
.div-11 {
	 padding: 20px;
	 background-color: #222b3e;
	 border-radius: 11px;
	 max-width: 650px;
	 flex-basis: 168px;
     margin: auto;
     margin-top: 20px;
}

.span-10 {
	 font-size: 20px;
	 line-height: 24px;
	 color: #e5e5e5;
}