/* AppBar Style */

@font-face {
    font-family: 'FastHand';
    src: url('../../Font/FastHand.otf');
}
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #0A0B0E;
    z-index: 1;
}

.header .nav-cont {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo {
    color: #45AC75;
    font-family: 'FastHand';
    font-size: xx-large;
}

.header-bg {
    background-color: #0A0B0E;
    transition: .5s;
}

.nav-menu {
    display: flex;
}

.menu-grid {
    display: flex;
}


.nav-menu li {
    padding: 0 1rem;
  
    
}

.nav-menu p {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding-top: -20;
}


.hamburger {
    display: none;
}

@media screen and (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .header .nav-cont {
    width: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem 1rem;
}

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        top: -1000%;
        text-align: center;
        width: 100%;
        height: auto;
        transition: 0.35s;
        z-index: -1;
        background: #0A0B0E;
        color: white;
        padding-bottom: 15px;
    }

    .nav-menu.active {
        top: 35px;
    }

    .nav-menu li {
        padding: 10px 30px;
        margin: 5px;
        width: 350px;
        background: #111621;
        border-radius: 7px;
        border: 1px solid #111621;
    }

    .menu-grid {
        display: flex;
        grid-template-columns: repeat(2 1fr);
    }

    .grid {
        margin: auto;
        max-width: 140px;
        grid-gap: 20px;
      
    }
}


/* Hero style */

.Hero {
    padding-top: 70px;
    width: 100%;
    background: #111621;
}

.Hero .right {
    text-align: center;
    margin: auto;
    padding: 1rem 1rem;
    max-width: 600px;
}

.Hero .hero-cont {
    padding-top: 100px;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.Hero .left {
    align-content: center;
    margin: auto;
    padding: 1rem 1rem;
    width: 500px;
}

.right .btn {
    padding: 1rem 2rem;
    border-radius: 7px;
    margin: 1.2rem;
    margin-top: 50px;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.left img {
    max-width: 300px;
}

.hero-text {
    color: #45AC75;
    font-size: 65px;
    font-family: Poppins;
    text-align: left;
}

.hero-cont .box {
     display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Hero .small-box {
    max-width: 400px;
    margin: auto;
}

.boxes img {
    margin-top: -120px;
    margin-left: 100px;
}

.small-box {
    display: grid;
    max-width: auto;
    height: auto;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
 
}

.small-box p {
    color: white;
    font-size: 24px;
}


.small-box .box1 {
    background: #0A0B0E;
    border-radius: 15px;
    padding: 1rem 1rem;
    max-width: 70px;
    margin-left: 40px;
    margin-top: 20px;
}

.box1 {
    color: white;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.hero-cont .mobi-hero {
    padding-top: 10px;
    width: 750px;
    margin: auto;
    text-align: center;
    align-content: center;
    }



    .mobi-hero .btn {
    padding: 1rem 3rem;
    border-radius: 7px;
    font-size: 32x;
    margin-top: 30px;
    }

  .mobi-hero .hero-text {
        font-size: xxx-large;
        text-align: center;
        margin-top: 30px;
    }

    .mobi-hero .box1 {
    background: #0A0B0E;
    border-radius: 15px;
    padding: 1.5rem 1rem;
    max-width: 70px;
    margin-left: 40px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
   .hero-cont .mobi-hero {
    padding-top: 10px;
    width: 750px;
    margin: auto;
    text-align: center;
    align-content: center;
    }

    .mobi-hero .btn {
    padding: 1rem 2rem;
    border-radius: 7px;
    margin-top: 30px;
    }
  .mobi-hero .hero-text {
        font-size: xxx-large;
        text-align: center;
    }
    

    /* .hero-cont img {
        position: relative;
        display: inline;
        margin: auto;
        justify-content: center;
    } */

  

    /* .Hero{
        display: inline-block;
        position: absolute;
        align-content: center;
        justify-content: center;
    }

    .Hero .hero-cont {
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: space-between;
    }

    .boxes img {
    margin-top: 20px;
    margin-right: 20px;
    }

    .hero-cont .box {
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .hero-text {
    color: #45AC75;
    font-size: xx-large;
    font-family: Poppins;
    text-align: left;
    }

    .Hero .hero-cont {
    padding-top: 100px;
    width: 95%;
    margin: auto;
    } */
}






/* CTA Styles */

.cta {
   background: #45AC75; 
}

.cta .container{
   text-align: center;
   max-width: 600px;
    margin: auto;
    padding: 2.5rem 0;
}

.cta button {
    width: 300px;
    border-radius: 7px;
    padding: 1rem 4rem;
}



.cta h3 {
    font-size: 35px;
    color: #111621;
}

.cta p {
    font-size: 22PX;
    padding-bottom: 30px;
}



/* Footer Styles */

.footer {
    width: 100%;
    background: #111621;
    display: grid;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}

.footer .footer-cont {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.footer .g2 {
    font-size: large;
    color: #45AC75;
    padding: 10px;
}

.footer-cont .g2 {
    margin: 0.5rem 4rem;
}

.g2 ul {
    display: grid;
    padding: 10px;
}
.g2 li {
    padding: 5px;
    cursor: pointer;
}


.g2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .footer .footer-cont {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }

    .footer-cont .g2 {
    margin: 0.5rem 2rem;
    }
}




